.place-card {
    background-color: $white;
    border-radius: $radius;
    padding: 1.5rem;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
    height: 100%;

    &:hover {
        transform: translateY(-5px);
    }

    &__image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 12px;
        margin-bottom: 1rem;
    }

    &__name {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    &__temp {
        font-size: 2rem;
        font-weight: bold;
        color: $primary-color;
    }
}
